.footer {
    padding-top: 90px;
    color: $color-default-white;
    background-color: $color-middle-grey;

    //@include vp-1023 {
    //    padding-top: 50px;
    //}

    a {
        //display: flex;
        //align-items: center;
        //color: $color-default-white;
        //
        //@include hover-focus {
        //    color: $color-gold;
        //}
    }
}
