.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 8000;

  padding-top: 16px;
  padding-bottom: 16px;

  background-color: $color-default-white;

  &.admin-toolbar {
    top: 32px;
  }

  a {
    color: $color-default-black;
    font-weight: 600;

    @include hover-focus {
     color: #3fa9f5;
    }
  }

  line-height: 100%;

  .hamb {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/svg/icon-hamb.svg);
    background-color: transparent;
    z-index: 50;

    @include vp-1023 {
      display: block;
    }
  }

  .nav {
    @include vp-1023 {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $color-default-white;
      display: flex;
      justify-content: center;
      padding-top: 190px;
      opacity: 0;
      pointer-events: none;
      transition: 0.5s opacity ease;
    }
  }

  &.open {
    .hamb {
      background-image: url("../img/svg/icon-close.svg");
    }

    .nav {
      opacity: 1;
      pointer-events: all;
      height: 100%;
      overflow: auto;
    }
  }

  .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-1023 {
      justify-content: space-between;
    }
  }

  .main-menu {
    display: flex;

    @include vp-1023 {
      width: 100%;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }

    li {
      margin-right: 36px;

      @include vp-1023 {
        margin-right: 0;      
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #d3d3d36b;
        font-size: 30px;
        text-align: center;
      }

      &:last-child {
        margin-right: 0;

        @include vp-1023 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.logo {
  @include vp-639 {
    display: none;
  }

  svg {
    @include vp-1023 {
      width: 330px;
      height: auto;
    }

    @include vp-639 {
      width: 77px;
    }
  }
}

.logo-mobile {
  display: none;

  @include vp-639 {
    display: block;
  }
}


