.intro {
    position: relative;
    min-height: 940px;
    margin-bottom: 140px;
    overflow: hidden;
    margin-top: -170px;

    @include vp-1279 {
        min-height: 600px;
        margin-bottom: 70px;
    }

    @include vp-767 {
        min-height: 400px;
        margin-bottom: 40px;
    }
  
    @include vp-639 {
        min-height: 300px;
        margin-top: 0;
    }

    @include vp-479 {
        min-height: 250px;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        width: 100%;
        height: auto;

        @include vp-1439 {
            height: 100%;
        }
    }
}