.single-content-project {
  padding-top: 150px;

  .project-title {
    font-size: 64px;
    color: #000000;
    line-height: 1;
  }

  .project-subtitle {
    display: block;
    font-size: 24px;
    color: #333333;
  }

  .info-item {
    display: flex;
  }

  .info-item__label {
    min-width: 260px;
    margin-right: 24px;
    color: #717171;
  }

  .info-item__value {
    color: #000000;
  }

  .task-project {
    h3 {

    }
  }

  .desc-project {
    margin-top: 66px;

    &:before {
      content: "";
      display: block;
      width: 250px;
      height: 4px;
      background-color: #3FA9F5;
      margin-bottom: 24px;
    }
  }
}
